<h1 class="text-success text-center">Login</h1>

<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <form [formGroup]="loginform" (ngSubmit)="submitted()">
            <div class="mb-3">
                <label for="id_username">Enter Username</label>
                <input type="text" id="id_username" class="form-control" formControlName="username"> 
                <div class="alert alert-danger" *ngIf="loginform.get('username')?.touched && loginform.get('username')?.invalid">
                    Enter Valid Username
                </div>
            </div>
            <div class="mb-3">
                <label for="id_password">Enter Password</label>
                <input type="password" id="id_password" class="form-control" formControlName="password"> 
                <div class="alert alert-danger" *ngIf="loginform.get('password')?.touched && loginform.get('password')?.invalid">
                    Enter Valid Password
                </div>
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-info" [disabled]="loginform.invalid">Login</button>
            </div>
        </form>
    </div>
    <!-- </div> -->
    <div class="col"></div>
</div>
